<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

{% for x in list_objects%}
{{x.transaction_id}}</br>
{{x.positions}}</br>
</br>
{% endfor %}

{% for x in CSV%}
<img src="{{x.file_name.url}}" height=250>
<button onclick="window.location.href='{{x.file_name.url}}'" target='__blank'>DOWNLOAD Now</button></br>
{% endfor %}


<p>This is index</p>
{% load crispy_forms_tags %}
<form action="" method="POST" class="mx-2">
    {% csrf_token %}
    {{form|crispy}}
    <button type="submit" class="btn btn-primary my-4">Search</button>
</form>


{% if sales_df%}
    <h3>This is Sale Data</h3>
    {{sales_df| safe}}
    <h3>This is Positions Data</h3>
    {{positions_df| safe}}
    <h3>This is Merged Data</h3>
    {{merged_df| safe}}
    <h3>This is Grouped Data</h3>
    {{df|safe}}
    <h3>This is Graph</h3>
    <img src="data:image/pmg;base64, {{chart|safe}}">
{% else%}
    <h3>No data found "{{request.user}}"</h3>
{% endif %}
